                /* Home Page  */

/* navbar */
.logo{
    height: 50px;
    width: 50px;
}
/* navbar End */

/* Banner  */

.carousel-item{
    max-height: 107vh;
}
/* Banner End */

/* best-sell */
.card-img-top{
    height: 200px;
}
.best-sell .card{
    transition: all 0.5s ease;
}
.best-sell .card:hover{
    transform: scale(1.05);
    
}
/* best-sell End */

/* New Product */

.new-product .card{
    transition: all 0.5s ease;
}
.new-product .card:hover{
    transform: scale(1.05);
}

/* New Product End */

/* Footer  */
.time{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: -1%;
    font-size: 20px;
}
.copytext{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Slogan p{
    width: 250px;
    text-align: start;
}
.links li{
    margin: 2px;
}
.links li a{
    text-decoration: none;
    color: white;
}
.contactme p{
    margin: 5px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #fff;
    /* color:#fff; */
}
/* Footer End */

                   /* Home Page end */


                 /* Product Details Page  */
.zoom-product .row{
    border-radius: 15px;
}
.img-zoom{
    /* border: 1px solid black; */
    border-radius: 15px;
    overflow: hidden;

}
.img-zoom-img{
    width: 100%;
    transition: all .2s ease;
}
.img-zoom-img:hover{
    transform: scale(1.5);
}


               /* Product Details Page End */



               /* Sign Up Page  */

.signupmain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.signupform{
    margin-top: 5%;
    max-width: 600px;
    max-height: 600px;
    /* border: 1px solid beige; */
    border-radius: 15px;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.signupform form{
    padding: 50px;
    border-radius: 15px;
}



               /* Sign Up Page End */